/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2.6px;
  bottom: 2.6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-button:checked + .slider {
  background-color: #2196F3;
}

.toggle-button:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-button:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}



p{
  min-width: 140px;
  min-height:20px; 
  text-align: center;
}

.container{
  text-align: center;
}


#shufflebutton-status{
  font-weight: 480;
}

.custom-checkbox + label {
  display: block;
  cursor: pointer;
  padding: 0.2em;
}

.custom-checkbox + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  padding-right: 0.05em;
  margin-right: 0.5em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

.custom-checkbox {
  display: none;
}


.custom-checkbox + label:active:before {
  transform: scale(0);
}

.custom-checkbox:checked + label:before {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #fff;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


